<!-- HERO CARD -->
<div *ngIf="hero" >
  <h2 style='border-bottom:1px solid #ccc;'>{{hero.name | uppercase}} Details</h2>
  <div class='container hero-card'>
    <input type="hidden" value={{hero.id}} />
    <div class='row'>
      <div class='col-2'><img src='../../assets/images/ancap.jpg' style="width: 100%;" /></div>
      <div class='vitals col-5'>
        <label>Alias:
          <input [(ngModel)]="hero.name" placeholder="name" #heroName />
        </label>
        <label>Identity:
          <input [(ngModel)]="hero.identity" placeholder="name" #heroID/>
        </label>
      </div>
      <div class='powers col-5'>
        <label>Powers:</label>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <label>History:</label>
      </div>
    </div>
    <button *ngIf="showBtn" class='mr-4' (click)='goBack()'>Go Back</button><button class='mr-4' (click)='save()'>Save</button><button (click)='add(heroName.value, heroID.value); heroName.value=""; heroID.value="";'>Add</button>
  </div>
</div>

