<!-- HERO CARD -->
<div *ngIf="hero else noHero" >
  <h2 style='border-bottom:1px solid #ccc;'>{{hero.name | uppercase}} Details</h2>
  <div class='container hero-card'>
    <input type="hidden" value={{hero.id}} />
    <div class='row'>
      <div class='col-2'><img src='../../assets/images/ancap.jpg' style="width: 100%;" /></div>
      <div class='vitals col-5'>
        <label>Alias:
          <input [(ngModel)]="hero.name" placeholder="name" />
        </label>
        <label>Identity:
          <input placeholder="name" [(ngModel)]="hero.identity" />
        </label>
      </div>
      <div class='powers col-5'>
        <label>Powers:</label>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <label>History:</label>
      </div>
    </div>
    <button *ngIf="showBtn" (click)="goBack()">go back</button>
  </div>
</div>
<ng-template #noHero>
 <h4 class='p-4'>No Hero selected</h4>
</ng-template>
